@charset'UTF-8';

/* ----- HTML tag ----- */
body {
	background-color:#ffffff;
	color:#000000;
}

h1, h2, h3, h4, h5, h6 {
	color: #FF5F00
}

a:visited , a:link , a:active {
	color:#A66F00;
}

a:hover {
	color:#FFD173;
	background-color:#FFAB00;
}
/* ----- /HTML tag ----- */

#Container {
}

/* ----- HeadColumn ----- */
#HeadColumn {
	background-color:#FFC040;
}


/* ----- Main Menu ----- */

#NaviMenu {
	background-color:	#FFD173;
}
#NaviMenu li {
}
#NaviMenu a:visited , #NaviMenu a:link {
	color:	#A66F00;
}
#NaviMenu a:hover, #NaviMenu a:active {
	color:	#FFD173;
	background-color:	#A66F00;
}

/* ----- Sub Menu ----- */

#SubMenu {
	background-color:	#A66F00;
}
#SubMenu li {
}
#SubMenu a:visited , #SubMenu a:link {
	color:	#FFD173;
}
#SubMenu a:hover, #SubMenu a:active {
	color:	#FFD173
	background-color:	#FFD173;
}

/* ----- Block default ----- */
dt.blockTitle {
	color: #A69200;
	background-color: #eeeeee;
	border-left-color: #FFEE73;
}

/* ----- LeftSide ----- */
#LeftSide {
	background-color:#;
}
#LeftSide dt.blockTitle {
	background-color:inherit;
	color: #A69200;
	background-color: #eeeeee;
	border-left-color: #FFEE73;
}
#LeftSide dd.blockContent {
	background-color:inherit;
}

/* ----- RightSide ----- */
#RightSide {
	background-color:#;
}
#RightSide dt.blockTitle {
	color: #A69200;
	background-color: #eeeeee;
	border-left-color: #FFEE73;
}

#Footer {
	background-color:#FFEE73;
	color:#A69200;
}
#Footer a{
	color: #FFE100;
}

/* ----- for common CSS ----- */

.outer 	{
	border: 1px solid #A69200;
}

th {
	background-color: #dddddd;
	color:#A69200;
}
.head {
	background-color: #eeeeee;
}
.even {
	background-color: #eeeeee;
}
.odd {
	background-color: #ffffff;
}
.foot {
	background-color: #FFE840;
}

tr.head td {
	background-color: #ffffff;
}
tr.even td {
	background-color: #eeeeee;
}
tr.odd td {
	background-color: #ffffff;
}

div.errorMsg {
	background-color: #FF5F00;
	color: #ffffff;
	border: 1px solid #DDDDFF;
}
div.confirmMsg {
	background-color: #FFA773;
	color: #A63E00;
	border: 1px solid #DDDDFF;
}
div.resultMsg {
	background-color : #FFA773;
	color: #A63E00;
	border: 1px solid #666666;
}
div.xoopsCode {
	background: #ffffff;
	color: #FFE100;
	border: 1px inset #000080;
}
div.xoopsQuote {
	background: #ffffff;
	color: #A69200;
	border: 1px inset #000080;
}

.comUserStat {
	color: #FF5F00;
}
.comUserStatus {
	color: #FF5F00;
}
/* ----- for module CSS ----- */

/*  for news & xf-section  */
.itemHead{
	background-color: #FFEE73; 
	color: #A69200; 
}
.itemInfo{
	color:#FFE100;
}

.itemTitle {
	color: #ffcccc;
	background-color: transparent;
}
.itemTitle a {
	color: #FFE100;
	background-color: transparent;
}
.pagenavi a {
	border:1px solid #FFE100;
	background-color:#FFEE73;
	color:#A69200;
}
.pagenavi b {
	border:1px solid #ffffff;
	background-color:#ffffff;
	color:#FFE100;
}
