/*  

	XOOPS Cube Legacy 
    http://xoopscube.org  */


/*------------------------------------------------------- MAIN & USER MENU */
/*------------------------------------------------------- Private Messages */	

ul#mainmenu, 
ul#mainmenu li ul, 
ul#usermenu,
ul#privatemessages 
	{
	margin:1em; 
	padding: 0px; 
	list-style-type:none;
	}
 
ul#mainmenu li, 
ul#usermenu li, 
ul#privatemessages li 
	{
	margin:0;
	padding:0px;
	
	}

ul#mainmenu li a, ul#mainmenu li a:visited, 
ul#usermenu li a, ul#usermenu li a:visited,
ul#mainmenu a.menuTop, ul#usermenu a.menuTop, 
ul#mainmenu a.menuMain, ul#mainmenu a.submenu,
ul#privatemessages li a, ul#privatemessages li a:visited
	{ 
	display: block;
	margin:0;
	padding: 3px 5px;	
	border-bottom:#565A65 1px solid;
	font-size:13px;
	text-decoration:none;
	}

ul#mainmenu li a.menuSub
	{
	padding-left:15px;
	}

#usermenu a.highlight 
	{
	color:#DFDFDF;
	background-color:#565A65;
	font-weight:normal
	}

ul#mainmenu li a:hover,
ul#usermenu li a:hover,
ul#privatemessages li a:hover 
	{
	border-bottom:#F5F5FF 1px solid;
	background:#565A65;
	}
	
/*------------------------------------------------------- SIDE BLOCKS */


.leftblock, .rightblock 
	{
	margin:0px 0px 20px 0px;
	 background:#2D3236;
	 border:1px solid #555A64;
	}
	
.leftblockTitle, .rightblockTitle 
	{
	font-size: 1.3em;
	margin: 0;
	padding: 10px;
	}
	
.leftblockContent, .rightblockContent
	{
	margin: 0;
	padding: 10px;
	line-height: 1.5em;
	}

/*------------------------------------------------------- CENTER CENTER BLOCKS */

.centerCcolumn 
	{
	padding:10px 0px;
	}
.centerCblockTitle
	{
	font-size: 1.3em;
	margin: 0;
	padding: 4px 0px;
	}
 .centerCblockContent
	{
	padding-top:15px;
	margin-bottom:15px;
	}
	
/*------------------------------------------------------- CENTER BOTTOM BLOCKS */


#centerBlocksContainer 
	{
	width:950px;
	padding-top:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	
.centerLcolumn
	{
	float: left;
	width: 49%;
	padding:0px;	
	border-right: dotted 1px #53565E;
	}
	
.centerRcolumn
	{
	float: right;
	width: 49%;
	padding:0px;

	}

.centerLblockTitle, 
.centerRblockTitle 
	{
	margin: 0;
	padding: 0px 0px 5px 0px;
	font-size: 1.3em;
	line-height:2em;
	}

	.centerLblockTitle 
	{
	
	}
	
	.centerRblockTitle 
	{
	
	}
	
.centerLblockContent, 
.centerRblockContent  
	{
	margin: 0;
	padding: 15px 10px;
	line-height: 1.5em;
	}
	
	.centerLblockContent a, .centerLblockContent a:visited,
	.centerRblockContent a, .centerRblockContent a:visited
	{
	
	}

	.centerLblockContent a:hover,
	.centerRblockContent a:hover
	{
	
	}