# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/

## Misc
.project
.DS_Store
dwsync.xml
_notes
/_notes/#


## for MacOS
.DS_Store

## for PhpStorm
/.idea

## AdelieDebug
/html/preload/AdelieDebug*

## XOOPS Cube
# /public_html/mainfile.php
# /public_html/cache/*
# /public_html/templates_c/*
# /public_html/uploads/*
# /xoops_trust_path/cache/*
# /xoops_trust_path/templates_c/*
# /xoops_trust_path/uploads/*