/*  

	XOOPS Cube Legacy 
    http://xoopscube.org  */


/*------------------------------------------------------- MAIN & USER MENU */
/*------------------------------------------------------- Private Messages */	

ul#mainmenu, 
ul#mainmenu li ul, 
ul#usermenu,
ul#privatemessages 
	{
	margin:1em; 
	padding: 0px; 
	list-style-type:none;
	}
 
ul#mainmenu li, 
ul#usermenu li, 
ul#privatemessages li 
	{
	margin:0;
	padding:0px;
	}

ul#mainmenu li a, ul#mainmenu li a:visited, 
ul#usermenu li a, ul#usermenu li a:visited,
ul#mainmenu a.menuTop, ul#usermenu a.menuTop, 
ul#mainmenu a.menuMain, ul#mainmenu a.submenu,
ul#privatemessages li a, ul#privatemessages li a:visited
	{ 
	display: block;
	margin:0;
	padding: 3px 5px;
	border:#f7f7f7 1px solid;	
	font-size:13px;
	text-decoration:none;
	}

ul#mainmenu li a.menuSub
	{
	padding-left:15px;
	}

#usermenu a.highlight 
	{
	border:#eee 1px solid;
	border-bottom:#fff 1px solid;
	background-color:#eee;
	}

ul#mainmenu li a:hover,
ul#usermenu li a:hover,
ul#privatemessages li a:hover 
	{
	border:#eee 1px solid;	
	border-bottom:#fff 1px solid;
	background-color:#eee;
	}
	
	
/*------------------------------------------------------- SIDE BLOCKS */

.leftblock, .rightblock 
	{
	margin:0px 0px 20px 0px;
	background-color:#f7f7f7;
	border:1px solid #f3f3f3;
	}
	
.leftblockTitle, .rightblockTitle 
	{
	font-size: 1.3em;
	margin: 0;
	padding: 10px;
	}
	
.leftblockContent, .rightblockContent
	{
	margin: 0;
	padding: 10px;
	line-height: 1.5em;
	}

/*------------------------------------------------------- CENTER BLOCKS BOTTOM */

#centerBlocks 
	{
	clear:both;
	color:#f5f5f5;
	background-color:#9296A1;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	margin:0;
	padding:0px;
	}

#centerBlocks a, #centerBlocks a:visited
	{
	color:#FFFFFF;
	}
	
#centerBlocks a:hover, #centerBlocks a:active
	{
	color:#006699;
	}
	
	
/*------------------------------------------------------- CENTER CENTER BLOCKS */

.centerCcolumn 
	{
	padding:10px 0px;
	}
.centerCblockTitle
	{
	font-size: 1.3em;
	margin: 0;
	padding: 4px 0px;
	}
 .centerCblockContent
	{
	padding-top:15px;
	margin-bottom:15px;
	}
	
	
/*------------------------------------------------------- CENTER BOTTOM BLOCKS */

#centerBlocksContainer 
	{
	width:950px;
	padding-top:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	
.centerLcolumn
	{
	float: left;
	width: 49%;
	padding:0px;	
	border-right: dotted 1px #53565E;
	}
	
.centerRcolumn
	{
	float: right;
	width: 49%;
	padding:0px;

	}

.centerLblockTitle, 
.centerRblockTitle 
	{
	margin: 0;
	padding: 0px 0px 5px 0px;
	font-size: 1.3em;
	line-height:2em;
	}

	.centerLblockTitle 
	{
	}
	
	.centerRblockTitle 
	{
	}
	
.centerLblockContent, 
.centerRblockContent  
	{
	margin: 0;
	padding: 15px 10px;
	line-height: 1.5em;
	}
	
	.centerLblockContent a, .centerLblockContent a:visited,
	.centerRblockContent a, .centerRblockContent a:visited
	{
	}

	.centerLblockContent a:hover,
	.centerRblockContent a:hover
	{
	}