<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></span>
</div>

<h3 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></h3>

<div class="tips">
    <p><{$smarty.const._AD_LEGACY_LANG_CONFCAT_ID}></p>
    <p><{$smarty.const._AD_LEGACY_LANG_CONFCAT_NAME}></p>
    <p><{$smarty.const._AD_LEGACY_LANG_CONTROL}></p>
 </div> 
 
<!-- 2012-07-27 Gigamaster, Test Accessibility--> 
<p> 
	<{foreach item=obj from=$objects}>
		<a class="setup" href="./index.php?action=PreferenceEdit&amp;confcat_id=<{$obj->getVar('confcat_id')}>" 
		title="<{$smarty.const._EDIT}> <{$obj->getName()|xoops_escape}>" />
		<span class="pref_<{$obj->getVar('confcat_id')}>">^_^</span></a>
	<{/foreach}>
</p>

<!-- 2008-12-7 Gigamaster, Test Accessibility-->

<p>
<a class="setup " href="./index.php?action=PreferenceEdit&confmod_id=4" title="User">
	<span class="pref_7">7</span>
</a>
<a class="setup" href="./index.php?action=PreferenceEdit&confmod_id=3" title='Meta Tags <img src=<{"icons/edit.png"|theme}>' alt="<{$smarty.const._EDIT}>" />
	<span class="pref_8">8</span>
</a>
<a class="setup" href="./index.php?action=PreferenceEdit&confmod_id=3" title='Themes and templates' alt="" />
	<span class="pref_9">9</span>
</a>
<a class="setup" href="./index.php?action=PreferenceEdit&confmod_id=3" title='Themes and templates' alt="" />
	<span class="pref_10">0</span>
</a>
<a class="setup" href="./index.php?action=PreferenceEdit&confmod_id=3" title='Themes and templates' alt="" />
	<span class="pref_11">0</span>
</a>
 </p>
 
 
 
<!--<img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" />-->
