<div id="mainFrame">

<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<table class="outer">

<{if $friend_list|@count > 0}>

<tr><th colspan="4"><{$smarty.const._MD_XSNS_FRIEND_TITLE|sprintf:"`$user_name`"}></th></tr>

<tr><td colspan="4" class="odd centerH"><{$pager.selector}></td></tr>
<tr><td colspan="4" class="odd" style="text-align:right;"><{$pager.description}></td></tr>

<tr class="head">
<td class="centerHV"><{$smarty.const._MD_XSNS_AVATAR}></td>
<td class="centerHV"><{$smarty.const._MD_XSNS_USER_NAME}></td>
<td class="centerHV"><{$smarty.const._MD_XSNS_MEMBER_LAST_LOGIN}></td>
<td class="centerHV"><{$smarty.const._MD_XSNS_FRIEND_EDIT}></td>
</tr>

<{section name=id loop=$friend_list}>
  <tr class="even">
	<td class="centerHV" style="width:10%;"><a href="<{$friend_list[id].page_url}>"><img src="<{$friend_list[id].avatar_url}>" alt="<{$friend_list[id].name}>" /></a></td>
	<td class="centerV" style="width:40%;"><a href="<{$friend_list[id].page_url}>"><{$friend_list[id].name}></a></td>
	<td class="centerHV" style="width:20%;"><{$friend_list[id].last_login|date_format:"%Y-%m-%d %H:%M:%S"}></td>
	<td class="centerHV" style="width:30%;"><{if $is_own_page}><{$friend_list[id].edit_menu}><{/if}></td>
  </tr>
<{/section}>

<tr><td colspan="4" class="odd centerH"><{$pager.selector}></td></tr>
<tr><td colspan="4" class="odd" style="text-align:right;"><{$pager.description}></td></tr>

<{/if}>

</td></tr></table>

</div>
