<div id="mainFrame">

<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<{foreach key=mode item=confirm_list_data from=$confirm_list_all}>

<{if $confirm_list_data.request_count>0}>

<table class="outer">
<tr>
<th colspan="5"><a name="#mode<{$mode}>"></a><{$confirm_list_data.lang_title}></th>
</tr>

<tr class="head">
<td colspan="5" class="description">
<{$confirm_list_data.lang_desc}>
</td>
</tr>

<tr><td colspan="5" class="odd blankRow"></td></tr>

<{foreach item=confirm_data from=$confirm_list_data.confirm_list}>

<tr class="even">
<td rowspan="<{$confirm_data.rows}>" class="centerHV" style="width:85px; height:85px;">
<a href="<{$confirm_data.member.page_url}>"><img src="<{$confirm_data.member.avatar_url}>" width="<{$confirm_data.member.avatar_width}>" height="<{$confirm_data.member.avatar_height}>" alt="<{$confirm_data.member.name}>"></a>
</td>
<td class="itemTitle"><{$smarty.const._MD_XSNS_USER_NAME}></td>
<td colspan="3" class="itemValue"><a href="<{$confirm_data.member.page_url}>"><{$confirm_data.member.name}></a></td>

<{if $confirm_data.show_commu}>

<tr class="even">
<td class="itemTitle"><{$smarty.const._MD_XSNS_CONFIRM_TARGET_COMMU}></td>
<td colspan="3" class="itemValue"><a href="<{$confirm_data.commu.url}>"><{$confirm_data.commu.name}></a></td>
</tr>

<{/if}>

<{if $confirm_data.show_message}>

<tr class="even">
<td class="itemTitle"><{$smarty.const._MD_XSNS_MESSAGE}></td>
<td colspan="3" class="itemValue"><{$confirm_data.message}></a></td>
</tr>

<{/if}>

<tr class="even">
<td class="itemTitle"><{$smarty.const._MD_XSNS_CONFIRM_POST_DATETIME}></td>
<td class="itemValue"><{$confirm_data.time|date_format:"%Y-%m-%d %H:%M:%S"}></td>

<{if !$confirm_data.accept_only}>

<{$confirm_data.form_accept}>
<td class="buttonFrame"><input type="submit" class="submit" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_ACCEPT}>"></td>
</form>

<{$confirm_data.form_reject}>
<td class="buttonFrame"><input type="submit" class="submit" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_REJECT}>"></td>
</form>

<{else}>

<{$confirm_data.form_accept}>
<td colspan="2" class="buttonFrame"><input type="submit" class="submit" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_ACCEPT}>"></td>
</form>

<{/if}>

</tr>

<tr><td colspan="5" class="odd blankRow"></td></tr>

<{/foreach}>

</table>

<br>
<{/if}>

<{/foreach}>

</div>
