<h3><{$smarty.const._MD_DBCSS_SCRIPTEDITTITLE}>: 
<{if $scriptdata.lid}>
	<{$scriptdata.name}>
<{else}>
	<{$smarty.const._MD_DBCSS_NEW}>
<{/if}>
</h3>
<hr />
<br />
<div class="tips">
<{$smarty.const._MD_DBCSS_SCRIPTEDITBLOCKDESC}>
</div>

<form name="scripteditform" id="scripteditform" action="<{$mod_url}>/admin/index.php?page=<{$page}>&amp;lid=<{$scriptdata.lid}>" method="post" onsubmit="return xoopsFormValidate_contentform();">
	<{$gticket_hidden}>
	<input type="hidden" name="lid" value="<{$scriptdata.lid}>" />
	<table class="outer">
		<tr valign="top" align="left">
			<td class="head"><label for="title"><{$smarty.const._MD_DBCSS_TH_TITLE}></label></td>
			<td class="even">
				<input type="text" name="title" id="title" size="70" maxlength="255" value="<{$scriptdata.title}>" />
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="body"><{$smarty.const._MD_DBCSS_SCRIPTBODY}></label></td>
			<td class="even">
				<textarea name="body" id="body" cols="60" rows="10"><{$scriptdata.body}></textarea>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="css"><{$smarty.const._MD_DBCSS_SCRIPTCSS}></label></td>
			<td class="even">
				<textarea name="css" id="css" cols="60" rows="10"><{$scriptdata.css}></textarea>
			</td>
		</tr>

		<{if $script_data_cashe}>
			<tr valign="top" align="left">
				<td class="head"><label for="cache_time"><{$smarty.const._MD_DBCSS_SCRIPTCACHE_TIME}></label></td>
				<td class="even">
					<{if $scriptdata.cachetime}>
						<{$scriptdata.cachetime}>
					<{else}>
						<{$smarty.const._MD_DBCSS_SCRIPTNOCACHE}>
					<{/if}>
				</td>
			</tr>
		<{/if}>

		<tr valign="top" align="left">
		
			<td colspan="2" class="foot">
				<input type="submit" class="formButton" name="scripteditform_post"  id="scripteditform_post" value="<{$smarty.const._MD_DBCSS_BTN_SUBMITEDITING}>" />

				<input type="submit" name="contentman_delete" value="<{$smarty.const._DELETE}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_MSG_CONFIRMDELETECONTENT}>')" />

				<input type="submit" name="contentman_copy" value="<{$smarty.const._MD_DBCSS_BTN_COPY}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_MSG_CONFIRMCOPYCONTENT}>')" />

				<input name="back" type="button" value="<{$smarty.const._MD_DBCSS_BTN_CANSEL}>" onclick='location.href="<{$mod_url}>/admin/index.php?page=scriptlink"'/>
			</td>
		</tr>
	</table>
</form>



<!-- Start Form Vaidation JavaScript //-->
<script type="text/javascript">
<!--//
function xoopsFormValidate_contentform() {
	myform = window.document.scripteditform;
	if ( myform.title.value == "" ) {
		window.alert("<{$smarty.const._MD_DBCSS_SUBJECT|string_format:$smarty.const._FORM_ENTER}>");
		myform.title.focus();
		myform.title.style.backgroundColor='#FFFFCC';
		return false;
	}
	
	if ( myform.body.value == "" ) {
		window.alert("<{$smarty.const._MD_DBCSS_BODY|string_format:$smarty.const._FORM_ENTER}>");
		myform.body.focus();
		myform.body.style.backgroundColor='#FFFFCC';
		return false;
	}
	return true;
}
//-->
</script>
<!-- End Form Vaidation JavaScript //-->