<h3><{$smarty.const._MD_DBCSS_H2METALINK}></h3>
<hr />
<br />
<div class="tips">
<{$smarty.const._MD_DBCSS_METAEDITBLOCKDESC}>
</div>

<form name="metalinkform" id="metalinkform" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>
<table class="outer">
	<tr>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_MID}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_MODULE}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_DIRNAME}>
		</th>
		<{if $meta_data_cashe}>
			<th style="text-align:center;">
				<{$smarty.const._MD_DBCSS_METACACHE_TIME}>
			</th>
		<{/if}>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_CONTENTSACTIONS}>
			<input type="checkbox" onclick="with(document.metalinkform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_action_')>=0){elements[i].checked=this.checked;}}}">
		</th>
	</tr>
	<{foreach from=$modulelist item="modulelist"}>
		<tr class="<{cycle values="even,odd"}>">
			<td style="text-align:center;">
				<{$modulelist.mid}>
			</td>
			<td nowrap="nowrap">
				<{$modulelist.name}>
			</td>
			<td nowrap="nowrap">
				<{$modulelist.dirname}>
			</td>
			<{if $meta_data_cashe}>
				<td nowrap="nowrap" style="text-align:center;">
					<{if $modulelist.cachetime}>
						<{$modulelist.cachetime}>
					<{else}>
						<{$smarty.const._MD_DBCSS_SCRIPTNOCACHE}>
					<{/if}>
			<{/if}>
			</td>
			<td nowrap="nowrap" style="text-align:center;">
				<a href="<{$mod_url}>/admin/index.php?page=metaedit&amp;lid=<{$modulelist.mid}>"><img src="<{$xoops_url}>/images/page_edit.png" alt="<{$smarty.const._EDIT}>" /></a>
				<{if $modulelist.metadata}>
					 | 
					<input type="checkbox" name="action_selects[<{$modulelist.mid}>]" id="col_action_<{$modulelist.mid}>" value="1" />
				<{/if}>
			</td>
		</tr>
	<{/foreach}>
	<tr>
		<th colspan="9" style="text-align:right;">
			<{$smarty.const._MD_DBCSS_LABEL_PERPAGE}>
			<select name="perpage" id="perpage"><br>
				<{html_options options=$perpage selected=$select_perpage}><br>
			</select>
			<input type="submit" name="submit_metalink" value="<{$smarty.const._SUBMIT}>" tabindex="0" /> | 
			<{$smarty.const._MD_DBCSS_LABEL_CONTENTSRIGHTCHECKED}>
			<input type="submit" name="delete" value="<{$smarty.const._MD_DBCSS_BTN_DELETE}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_DELETE}>');" />
		</th>
	</tr>

</table>
</form>


<br />
			<{if $meta_data_cashe}>
				<{if !$cache_dir || !$writable}>
					<br />
					<font color='#FF0000'><b><{$smarty.const._MD_DBCSS_METAEDITNOCACHE_DIR}></b></font>
				<{/if}>
			<{/if}>
            
<div align="right"><{$modulelist_pagenav}></div><br />