<input type="hidden" name="options[0]" value="<{$mydirname}>" />

<p>
	<label for="css_name"><{$smarty.const._MB_DBCSS_TPL_NAME}></label>:
	<input type="text" size="50" name="options[1]" id="css_name" value="<{$css_name}>" />
</p>
<br />
<p>
	<label for="useblock_header"><{$smarty.const._MB_DBCSS_USEBLOCKHEADER}></label>:
	<input type='radio' name='options[2]' id='o21' value='1' <{$block_header_yes}> /><label for='o21'><{$smarty.const._YES}></label>
	<input type='radio' name='options[2]' id='o20' value='0'  <{$block_header_no}> /><label for='o20'><{$smarty.const._NO}></label>
	<br />
	<{$smarty.const._MB_DBCSS_USEBLOCKHEADERDSC}>
</p>
<br />
<p>
	<label for="media_select"><{$smarty.const._MB_DBCSS_SELECTMEDIA}></label>:
	<input type="text" name="options[3]" id="selected_media" value="<{$selected_media|escape}>" size="30" />
	<select name="media_select" id="media_select" onchange="if(this.value){xoopsGetElementById('selected_media').value=xoopsGetElementById('selected_media').value?xoopsGetElementById('selected_media').value+','+this.value:this.value;}">
		<{html_options options=$media_options}>
	</select>
	<br />
	<{$smarty.const._MB_DBCSS_SELECTMEDIADSC}>
</p>
