/* for eguide module */
.calframe p.calhead{
    background-color: #eeeeee;
	border: solid 3px #999999;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 3em;
    margin: 15px 0 0 0;
    padding: 5px 0;
    text-align: center;
}
.calframe table{
	margin-left: auto;
	margin-right: auto;
	width:100%;
    border-spacing: 0;
}
table#calbody {
    border: solid 2px #999999;
    background-color: #fff;
    width: 100%;
}	
table#calbody th {
	background-color: #aaaaaa;
    border: solid 1px #999999;
	font-style: normal;
    text-align: center;
    width: 10%;
}
table#calbody tr.week_header {
    height: 10px;
}
table#calbody tr {
    height: 100px;
}
table#calbody tr.active {
    height: 1em;
}
table#calbody tr.inactive {
    height: auto;
}
table#calbody th.sunday {
	color: #dc143c;
}
table#calbody th.saturday {
	color: #3333cd;
}
table#calbody a {
    color: #444444;
}

table#calbody td{
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1em;
    font-style: italic;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    border: solid 1px #dddddd;
}
table#calbody td.event {
	background-color: LightCyan;
    border: solid 2px DodgerBlue;
}
table#calbody a {
	position:relative;
	float:left;
}

table#calbody p.holiday{
	color: red;
    font-size: .75em;
    font-style: italic;
	margin: 0;
}
table#calbody p.event{
	clear: both;
	margin: 0;
}
table#calbody .a {
	position:relative;
	float:left;
}
table#calbody a.calday_holyday {
    color: #dc143c;
    font-size: 2em;
}
table#calbody a.calday_sunday {
	position : relative;
	top: -4px;
	color: #dc143c;
    font-size: 2em;
}
table#calbody a.calday_saturday {
    color: #0000cd;
    font-size: 2em;
}
table#calbody a.calday_weekday {
    color: #444444;
    font-size: 2em;
}
table#calbody .week_index {
	position : relative;
	top: -5px;
	left: -5px;
}
table#calbody a.stencil {
	float: right;
}
table#calbody a.event {
    font-size: 1em;
    font-style: normal;
}
/*
** for mini calender
*/
.cal_selector{
    background-color: #eeeeee;
	border: solid 3px #999999;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1em;
    margin: 0 0 15px;
    padding: 5px 0;
}
.minical_left{
	float:left;
}
.minical_right{
	float:right;
}
.cal_footer{
	clear: both;
	text-align: right;
}
table#minical {
    background-color: #eeeeee;
	border: solid 2px #999999;
	color: #333333;
	font-family: Georgia,"Times New Roman",Times,serif;
}
table#minical th {
    height: 2em;
}