<{* Title *}>
<{if $titleblockuse && $h1id}>
  <h1 style="clear:both;background:transparent url(<{$smarty.const.XOOPS_URL}>/modules/<{$lang_moduledirname}>/images/<{$h1id}>) no-repeat center;font-size: 100%; overflow: hidden; margin: 0px; padding: 50px 0 0 0; height: 0px !important; height /**/:50px;">
    <{$lang_modulename}>
  </h1>
<{elseif $titleblockuse}>
  <h1 style="clear:both;margin: 0 0 10px 0; padding: 0.2em 0em; text-align: center; font-size: 1.4em;">
    <{$lang_modulename}>
  </h1>
<{/if}>

<{* pankuzu *}>
<div class="itemPermaLink" style="clear:both;margin:1em 0em;padding:0em;text-align:left;">
  <a href="<{$xoops_url}>/"><{$lang_home}></a>&nbsp;&raquo;&nbsp;<a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/index.php"><{$lang_modulename}></a>
  <{if $multicats == 1}>
    <{if !$catid}>
      &raquo;&nbsp;<a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/category.php"><{$lang_allcategory}></a>
    <{else}>
      <{foreach item=catlinks from=$block0.categories}>
        <{if $catid == $catlinks.id}>&raquo;&nbsp;<a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$catlinks.id}>"><{$catlinks.linktext}></a><{/if}>
      <{/foreach}>
    <{/if}>
  <{/if}>
  &nbsp;&raquo;&nbsp;<{$pageinitial}>
</div>

<{* Category block *}>
<{if $multicats && !$catsarrayuse}>
  <div style="clear:both;margin:0.1em 0em;padding:0em;">
    <fieldset class="item" style="border:1px solid #778;margin:1em 0em;text-align:left;background-color:transparent;">
      <legend class="itemHead"><{$lang_browsecat}></legend>
      <div style="margin:1em;padding:0em;text-align:center;line-height:1.3em;">
        <{foreach item=catlinks from=$block0.categories}>
          <{if $catlinks.total > 0}><a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$catlinks.id}>" title="[<{$catlinks.total}>]"><{/if}><{$catlinks.linktext}><{if $catlinks.total > 0}></a><{/if}><{cycle values="..,..,..,..,..,..,<br />"}>
        <{/foreach}>
        <{if $publishedwords}><a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/category.php" title="[<{$publishedwords}>]"><{/if}><{$lang_allcats}><{if $publishedwords}></a><{/if}>
      </div>
    </fieldset>
  </div>
<{/if}>

<{* Letterlink block *}>
<div style="clear:both;margin:0.1em 0em;padding:0em;">
  <fieldset class="item" style="border:1px solid #778;margin:1em 0em;background-color:transparent;">
    <legend class="itemHead"><{$lang_browseletter}></legend>
    <div style="margin:1em;padding:0em;text-align:center;line-height:1.4em;">
      <{foreach item=letterlinks from=$alpha.initial}>
        <{$letterlinks.separator}><{if $letterlinks.total}><a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$letterlinks.id}><{if $catid}>&amp;categoryID=<{$catid}><{/if}>" title="[<{$letterlinks.total}>]"><{/if}><{$letterlinks.linktext}><{if $letterlinks.total}></a><{/if}>
      <{/foreach}>
    </div>
  </fieldset>
</div>

<{* Term block *}>
<h2 style="margin:2em 0em 1em 0em;font-size:1.3em;text-align: center;" title="[<{$lang_wehave}><{foreach item=letterlinks from=$alpha.initial}><{if $firstletter == $letterlinks.linktext}><{$letterlinks.total}><{/if}><{/foreach}><{$lang_begin}>]">
  <{$firstletter}>
</h2>

<{* page navbar *}>
<{if $entriesarray.navbar}>
  <div style='margin:0.5em 0em;text-align:right;font-size:75%;'>
    <{$entriesarray.navbar}>
  </div>
<{/if}>

<{* List block *}>
<{* ruby tag sample start *}>
<{* 
<{foreach item=eachentry from=$entriesarray.single}>
<h3 style="margin:1em 0em; padding:0px; font-size: 1.1em; background-color: transparent;text-align:left;"<{if $multicats == 1 && $eachentry.catname}> title="[<{$eachentry.catname}>]"<{/if}>>
  <ruby><rb><a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/entry.php?entryID=<{$eachentry.id}><{if $catid}>&amp;categoryID=<{$catid}><{/if}>"><{$eachentry.term}></a></rb><rp><{$lang_rubyl}></rp><rt><{$eachentry.proc}></rt><rp><{$lang_rubyr}></rp></ruby>
  <div class="comText" style="margin: 2px 0px;padding: 0em 1em;line-height: 1.3em;"><{$eachentry.microlinks}><{if $multicats == 1}><{if $eachentry.catname}><{$lang_entrycat}><{$eachentry.catname}>&nbsp;&nbsp;<{/if}><{/if}><{$lang_letterdef}><{$eachentry.definition}></div>
  <br />
<{/foreach}>
*}>
<{* ruby tag sample end *}>

<{foreach item=eachentry from=$entriesarray.single}>
  <h3 style="margin:0em; padding:0px; font-size: 1.1em; background-color: transparent;text-align:left;"<{if $multicats == 1 && $eachentry.catname}> title="[<{$eachentry.catname}>]"<{/if}>>
    <span class="head" style="margin:0em;padding:0em;font-size:1.1em;"><a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/entry.php?entryID=<{$eachentry.id}><{if $catid}>&amp;categoryID=<{$catid}><{/if}>"><{$eachentry.term}></a></span>
  </h3>

  <div class="comText" style="margin:0.5em 1em 2em 1em;padding:0em;line-height:1.3em;">
    <{$eachentry.microlinks}><{$lang_entryyomi}><{$eachentry.proc}>&nbsp;&nbsp;<{if $multicats == 1}><{if $eachentry.catname}><{$lang_entrycat}><{$eachentry.catname}>&nbsp;&nbsp;<{/if}><{/if}><{$lang_letterdef}><{$eachentry.definition}>
  </div>
<{/foreach}>
<br /><br />

<{* page navbar *}>
<{if $entriesarray.navbar}>
  <div style='margin: 0.5em 0em; text-align: right; font-size: 75%;'>
    <{$entriesarray.navbar}>
  </div>
<{/if}>

<{* return nav *}>
<div class="itemPermaLink" style="text-align:center;margin: 2em 0em;">
  [&nbsp;<a href='javascript:history.go(-1)'><{$lang_return}></a>&nbsp;|&nbsp;<a href='<{$xoops_url}>/modules/<{$lang_moduledirname}>/'><{$lang_index}></a>&nbsp;]
</div>

<{* Footer block *}>
<div class="foot" style="clear:both;text-align:center;margin:2em 0em;padding:0em;">
  Powered&nbsp;by&nbsp;<a href="http://www.kanpyo.net/" title="kanpyo"><strong>Xwords</strong></a>
  &nbsp;based&nbsp;on&nbsp;<a href="http://dev.xoops.org/modules/xfmod/project/showfiles.php?group_id=1019" title="Official XOOPS Development Site"><strong>Wordbook</strong></a>
</div>
