<{strip}>
<div class='calframe'>
	<div class='calhead calhead_list' style='background-color:<{$calhead_bgcolor}>'>
		<div class='calmode'>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Yearly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_yearly}>'>
				<img src='
				<{$images_url}>/year_on.gif' border='0' width='30' height='24' alt='
				<{$alt_yearly}>' />
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Monthly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_monthly}>'>
				<img src='
				<{$images_url}>/month_on.gif' border='0' width='30' height='24' alt='
				<{$alt_monthly}>' />
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Weekly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_weekly}>'>
				<img src='
				<{$images_url}>/week_on.gif' border='0' width='30' height='24' alt='
				<{$alt_weekly}>' />
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Daily&amp;caldate=
				<{$caldate}>' title='
				<{$alt_daily}>'>
				<img src='
				<{$images_url}>/day_on.gif' border='0' width='30' height='24' alt='
				<{$alt_daily}>' />
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=List&amp;caldate=
				<{$caldate}>' title='
				<{$alt_list}>'>
				<img src='
				<{$images_url}>/list_on.gif' border='0' width='30' height='24' alt='
				<{$alt_list}>' />
			</a>
		</div>
	</div>
	<{$detail_body}>
</div>

<div style="text-align: right; padding: 0px; margin: 0px;">
  <a href="<{$print_link}>" target="_blank"><img src="<{$skinpath}>/print.gif" alt="<{$lang_print}>" title="<{$lang_print}>" border="0" /></a>
</div>

<{if $moduleConfig.comment_dirname}>
<{d3comment mydirname=$xoops_dirname id=$com_itemid subject=$xoops_pagetitle class="piCalD3commentContent" forum_id=$moduleConfig.comment_forum_id subject=$xoops_pagetitle subject_escaped=1 view=$moduleConfig.comment_view order=$moduleConfig.comment_order posts_num=$moduleConfig.comment_posts_num}>

<{else}>
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>

<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
<{/if}>
<{/strip}>
<{include file='db:system_notification_select.html'}>
