<{strip}>
<div class='calframe'>
	<div class='calhead calhead_list' style='background-color:<{$calhead_bgcolor}>'>
		<{$categories_selform}>
		<{* ICONS *}>
		<div class='calmode'>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Yearly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_yearly}>' >
				<img src='
				<{$images_url}>/year_on.gif' border='0' width='30' height='24' alt='
				<{$alt_yearly}>'/>
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Monthly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_monthly}>' >
				<img src='
				<{$images_url}>/month_on.gif' border='0' width='30' height='24' alt='
				<{$alt_monthly}>'/>
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Weekly&amp;caldate=
				<{$caldate}>' title='
				<{$alt_weekly}>'>
				<img src='
				<{$images_url}>/week_on.gif' border='0' width='30' height='24' alt='
				<{$alt_weekly}>' />
			</a>
			<a href='
				<{$get_target}>?cid=
				<{$now_cid}>&amp;smode=Daily&amp;caldate=
				<{$caldate}>' title='
				<{$alt_daily}>'>
				<img src='
				<{$images_url}>/day_on.gif' border='0' width='30' height='24' alt='
				<{$alt_daily}>' />
			</a>
			<img class='current' src='
			<{$images_url}>/list_on.gif' border='0' width='30' height='24' alt='
			<{$alt_list}>' />
		</div>
		<{* DATE DESCRIPTION *}>
		<div class='ymdo_selects'>
			<form action='
				<{$mod_url}>/index.php?smode=List&amp;num=
				<{$num}>&amp;cid=
				<{$now_cid}>&amp;order=
				<{$order}>' method='POST' style='margin:0px;'>
				<{$ymdo_selects}>
				<input class='btn' type='submit' name='pical_jumpcaldate' value='
				<{$lang_button_jump}>' />
			</form>
		</div>
		<{if $cat_desc}>
			<div class="catdesc catdesc_list">
				<{$cat_desc}>
			</div>
		<{/if}>
	</div>
	<div class='m_sel'>
		<hr />
		<{if $num_rows >1}>
			<{if !$for_print}>
				<{$lang_sortby}>&nbsp;&nbsp; 
				<{$lang_startdatetime}>(
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=start">
					<img src="
					<{$images_url}>/up.gif" border="0" align="middle" alt="" />
				</a>
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=start+DESC">
					<img src="
					<{$images_url}>/down.gif" border="0" align="middle" alt="" />
				</a>) 
				<{$lang_lastmodified}>(
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=dtstamp">
					<img src="
					<{$images_url}>/up.gif" border="0" align="middle" alt="" />
				</a>
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=dtstamp+DESC">
					<img src="
					<{$images_url}>/down.gif" border="0" align="middle" alt="" />
				</a>) 
				<{$lang_summary}>(
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=summary">
					<img src="
					<{$images_url}>/up.gif" border="0" align="middle" alt="" />
				</a>
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=summary+DESC">
					<img src="
					<{$images_url}>/down.gif" border="0" align="middle" alt="" />
				</a>) 
				<{$lang_submitter}>(
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=uid">
					<img src="
					<{$images_url}>/up.gif" border="0" align="middle" alt="" />
				</a>
				<a href="index.php?smode=List&amp;cid=
					<{$now_cid}>&amp;caldate=
					<{$caldate}>&amp;op=
					<{$op}>&amp;order=uid+DESC">
					<img src="
					<{$images_url}>/down.gif" border="0" align="middle" alt="" />
				</a>) 
				<br />
			<{/if}>
			<b>
				<{$lang_cursortedby}>
				<{$lang_order}>
			</b>
			<hr />
		<{/if}>
	</div>
	<form name='MainForm' action='
		<{$mod_url}>/index.php' target='_blank' method='post' style='margin:0px;'>
		<table>
			<tr>
				<td width="100%" align="center" valign="top">
					<table>
						<tr>
							<td style='text-align:left;vertical-align:middle;width=33%;'>
								<{$page_nav_info}>
							</td>
							<td style='text-align:center;vertical-align:middle;width:33%;'>
								<{$page_nav}>
							</td>
							<td style='text-align:right;vertical-align:middle;width:34%;'></td>
						</tr>
					</table>
					<table class='table table-striped table-bordered table-condensed'>
						<tr valign='middle'>
							<th class='head'>
								<{$lang_submitter}>
							</th>
							<th class='head'>
								<{$lang_startdatetime}>
							</th>
							<th class='head'>
								<{$lang_enddatetime}>
							</th>
							<th class='head'>
								<{$lang_summary}>
							</th>
							<th class='head'>
								<{$lang_rrule}>
							</th>
							<th class='head'>
								<{$lang_admission}>
							</th>
							<th class='head'>
								<input type='checkbox' name='dummy' onclick="with(document.MainForm){for(i=0;i
								<length;i++){if(elements[i].type=='checkbox'){elements[i].checked=this.checked;}}}" />
							</th>
						</tr>
						<!-- Start event loop -->
						<{foreach item='event' from=$events}>
						<tr>
							<td class='
								<{$event.oddeven}>'>
								<{$event.submitter_info}>
							</td>
							<td class='
								<{$event.oddeven}>'>
								<{$event.start_date_desc}>
								<br />
								<{$event.start_time_desc}>
							</td>
							<td class='
								<{$event.oddeven}>'>
								<{$event.end_date_desc}>
								<br />
								<{$event.end_time_desc}>
							</td>
							<td class='
								<{$event.oddeven}>'>
								<a href='
									<{$mod_url}>/index.php?action=View&amp;event_id=
									<{$event.id}>'>
									<{$event.summary}>
								</a>
							</td>
							<td class='
								<{$event.oddeven}>'>
								<{$event.rrule}>
							</td>
							<td class='
								<{$event.oddeven}>' align='center'>
								<{$event.admission}>
								<{if $event.editable == true}>
								<a href='
									<{$get_target}>?smode=Daily&amp;action=Edit&amp;event_id=
									<{$event.id}>&amp;caldate=
									<{$caldate}>'>
									<img src='
									<{$images_url}>/addevent.gif' border='0' width='14' height='12' />
									<{$lang_editevent}>
								</a>
								<{/if}>
							</td>
							<td class='
								<{$event.oddeven}>' align='right'>
								<input type='checkbox' name='ids[]' value='
								<{$event.target_id}>' />
							</td>
						</tr>
						<{/foreach}>
						<!-- End event loop -->
					</table>
					<{if $user_can_output_ics }>
					<p class='m_right'>
						<{$lang_checkeditems}>&nbsp; 
						<{$lang_icalendar_output}>&nbsp;&nbsp;
						<input class='btn' type='submit' name='output_ics_confirm' value='
						<{$lang_button_export}>' />
					</p>
					<{/if}>
				</td>
			</tr>
		</table>
	</form>
</div>
<{if !$for_print}>
	<p class='m_right'>
		<a href="
			<{$print_link}>" target="_blank">
			<img src="
			<{$images_url}>/print.gif" alt="
			<{$alt_print}>" title="
			<{$alt_print}>" border="0" />
		</a>
	</p>
<{/if}>
<{/strip}>
<{include file='db:system_notification_select.html'}>