<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$xoops_charset}>" />
<meta http-equiv="Refresh" content="<{$time}>; url=<{$url}>" />
<title><{$xoops_sitename}></title>
<style>
* {	margin: 0; padding: 0;}

body 
	{
	background: #2D3236;
	color: #D6D8DC;
	font-size: 13px;
	font-family:Trebuchet MS, Helvetia, Tahoma, Verdana, Arial, sans-serif;
	}
	
	a, a:visited  
	{
	color:#E4EFFF;
	}

a:hover, a:active
	{
	color:#FFFFFF;
	}
	
	h3 { font-size:18px;}
	
	div.message
	{
	margin:150px auto;
	text-align:center;
	font-weight : bold;
	line-height:3em;
	}
</style>

</head>
<body>
<div class="message">
  <h3><{$message}></h3>
  <br />
  <p><{$lang_ifnotreload}></p>
  <br />
  <p><img src="<{$xoops_url}>/themes/xcl_fadelight/images/ajax-loader.gif" ></p>
</div>
</body>
</html>