<h3><{$smarty.const._MD_DBCSS_METAEDITTITLE}>: <{$module_name}></h3>
<hr />
<br  />
<div class="tips">
<{$smarty.const._MD_DBCSS_METAEDITDESC}><br />
<{$smarty.const._MD_DBCSS_METAEDITBLOCKDESC}>
</div>
<form name="metaeditform" id="metaeditform" action="<{$mod_url}>/admin/index.php?page=<{$page}>&amp;lid=<{$meta_lid}>" method="post">
	<{$gticket_hidden}>
	<input type="hidden" name="meta_lid" value="<{$meta_lid}>" />
	<table class="outer">
		<tr valign="top" align="left">
			<td class="head"><label for="metakey"><{$smarty.const._MD_DBCSS_METAKEY}></label><br />
			<{$smarty.const._MD_DBCSS_METAKEYDESC}></td>
			<td class="even">
				<textarea name="metakey" id="metakey" cols="50" rows="10"><{$metadata.metakey}></textarea>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="metadesc"><{$smarty.const._MD_DBCSS_METADESC}></label><br />
			<{$smarty.const._MD_DBCSS_METADESCDESC}></td>
			<td class="even">
				<textarea name="metadesc" id="metadesc" cols="50" rows="10"><{$metadata.metadesc}></textarea>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="robots"><{$smarty.const._MD_DBCSS_METAROBOTS}></label><br />
			<{$smarty.const._MD_DBCSS_METAROBOTSDESC}></td>
			<td class="even">
				<select name="robots" id="robots"><br>
					<{html_options options=$list_robots selected=$metadata.robots}><br>
				</select>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="rating"><{$smarty.const._MD_DBCSS_METARATING}></label><br />
			<{$smarty.const._MD_DBCSS_METARATINGDESC}></td>
			<td class="even">
				<select name="rating" id="rating"><br>
					<{html_options options=$list_rating selected=$metadata.rating}><br>
				</select>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><label for="author"><{$smarty.const._MD_DBCSS_METAAUTHOR}></label><br />
			<{$smarty.const._MD_DBCSS_METAAUTHORDESC}></td>
			<td class="even">
				<input type="text" name="author" id="author" size="70" maxlength="255" value="<{$metadata.author}>" />
			</td>
		</tr>

		<{if $meta_data_cashe}>
			<tr valign="top" align="left">
				<td class="head"><label for="cache_time"><{$smarty.const._MD_DBCSS_METACACHE_TIME}></label></td>
				<td class="even">
					<{if $metadata.cachetime}>
						<{$metadata.cachetime}>
					<{else}>
						<{$smarty.const._MD_DBCSS_METANOCACHE}>
					<{/if}>
				</td>
			</tr>
		<{/if}>

		<tr valign="top" align="left">
			
			<td colspan="2" class="foot">
				<input type="submit" class="formButton" name="metaeditform_post"  id="metaeditform_post" value="<{$smarty.const._MD_DBCSS_BTN_SUBMITEDITING}>" />
				<input type="submit" name="contentman_delete" value="<{$smarty.const._DELETE}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_MSG_CONFIRMDELETECONTENT}>')" />
				
				<input name="back" type="button" value="<{$smarty.const._MD_DBCSS_BTN_CANSEL}>" onclick='location.href="<{$mod_url}>/admin/index.php?page=metalink"'/>
			</td>
		</tr>
	</table>
</form>
