<h3><{$smarty.const._MD_DBCSS_H2EXPORT}></h3>

<hr />
<form name="cssexportform" id="cssexportform" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>
<table class="outer">
	<tr>
		<th><{$smarty.const._MD_DBCSS_TH_CSSNAME}></th>
		<th><input type="checkbox" onclick="with(document.cssexportform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].name.indexOf('basecheck')>=0){elements[i].checked=this.checked;}}}" /><{$smarty.const._MD_DBCSS_TH_ORIGINALFILE}></th>
<{foreach item=tplset from=$tplsets}>	
		<th<{if $tplset == $config_tplsets}> style="color:yellow;"<{/if}>><{if $num_by_tplset.$tplset > 0}><input type="checkbox" onclick="with(document.cssexportform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].name.indexOf('<{$tplset|escape}>_check')>=0){elements[i].checked=this.checked;}}}" /><{/if}><{$tplset|escape}></th>	
<{/foreach}>
<{foreach item=cssfile from=$cssfiles}>
	<tr class="<{cycle values="even, odd"}>">
		<td><{$cssfile.file_name}>&nbsp;(<{$cssfile.count}>)<br /><{$cssfile.file_description}></td>
		<td><{$cssfile.file_last_modified}><br /><{$cssfile.file_fingerprint}><br /><input type="checkbox" name="basecheck[<{$cssfile.file_name}>]" value="1" /></td>
	<{foreach item=tpl from=$cssfile.db_tpls}>
		<td<{if $tpl.style}> style="<{$tpl.style}>"<{/if}>><{$tpl.tpl_last_modified}><br /><{$tpl.tpl_fingerprint}><br /><{if $tpl.numrows > 0}><input type="checkbox" name="<{$tpl.tpl_tplset}>_check[<{$tpl.lid}>]" value="1" />&nbsp;<a href="<{$mod_url}>/admin/index.php?page=mytplsform&amp;tpl_id=<{$tpl.lid}>"><{$smarty.const._EDIT}></a> | <a href="<{$mod_url}>/admin/index.php?page=download&amp;lid=<{$tpl.lid}>"><{$smarty.const._MD_DBCSS_BTN_SUBMITEDITING}></a> (<{$tpl.numrows}>)<br /><{$smarty.const._MD_DBCSS_MYEXPORT_DIR}><br /><input type="text" size="24" maxlength="255" name="exportdir[<{$tpl.lid}>]" id="col_exportdir_<{$tpl.lid}>" value="<{$tpl.exportdir}>" /><{/if}></td>
	<{/foreach}>
	</tr>
<{/foreach}>
	<tr>
		<td class="head">&nbsp;</td>
		<td class="head">
		<{if $cssfile.file_name}>
		<label for="tplsets"><{$smarty.const._MD_DBCSS_LABEL_COPYTPLSETS}></label>:
		<select name="copy2dbselect" id="copy2dbselect">
			<{html_options options=$copytplsets}>
		</select>
		<input type="submit" name="submitcopy2db" id="submitcopy2db" value="<{$smarty.const._MD_DBCSS_BTN_COPYTPL}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_COPY}>');" /><{/if}>
		</td>
<{foreach item=tplset from=$tplsets}>
		<td class="head">
		<{if $num_by_tplset.$tplset > 0}>
			<input type="submit" name="submitexport[<{$tplset|escape}>]" id="submitexport[<{$tplset|escape}>]" value="<{$smarty.const._MD_DBCSS_BTN_EXPORT}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_EXPORT}>');" /><br />
			<label for="tplsets"><{$smarty.const._MD_DBCSS_LABEL_COPYTPLSETS}></label>:
			<select name="copy_tplsets[<{$tplset|escape}>]" id="copy_tplsets[<{$tplset|escape}>]">
			<{html_options options=$copytplsets}>
			</select>
			<input type="submit" name="submitcopy[<{$tplset|escape}>]" id="submitcopy[<{$tplset|escape}>]" value="<{$smarty.const._MD_DBCSS_BTN_COPYTPL}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_COPY}>')" /><br />
				<{if $tplset !='default'|| $getdelete_btn}>
					<input type="submit" name="submitdelete[<{$tplset|escape}>]" id="submitdelete[<{$tplset|escape}>]" value="<{$smarty.const._MD_DBCSS_BTN_DELETE}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_DELETETPL}>')" />
			<{/if}>
		<{else}>
			&nbsp;
		<{/if}>
		</td>
<{/foreach}>
	<tr>
		<th colspan="9" style="text-align:center;">
			<{$smarty.const._MD_DBCSS_EXPORT_DIR}>
			: <{$css_export_dir}>
			<{if !$cache_dir}>
				<br />
				<font color="#FF0000"><b><{$smarty.const._MD_DBCSS_EXPORT_NODIR}></b></font>
			<{/if}>
			<{if !$writable}>
				<br />
				<font color="#FF0000"><b><{$smarty.const._MD_DBCSS_EXPORT_NOWRITABLE}></b></font>
			<{/if}>
		</th>
	</tr>
	<tr>
		<td colspan="9" class="foot">
			<label for="tplsets"><{$smarty.const._MD_DBCSS_LABEL_EXPORT_DIR}></label>:
			<input type="submit" name="submit_exportdir" value="<{$smarty.const._SUBMIT}>" tabindex="0" />
		</td>
	</tr>
	
	</form>
</table>
</form>
<div class="tips">
<{$smarty.const._MD_DBCSS_EXPORTDESC}>
</div>
<br />

<h3><{$smarty.const._MD_DBCSS_H2INPORT}></h3>
<form name="cssfileinport" id="cssfileinport" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post" enctype="multipart/form-data">
<{$gticket_hidden}>
<table class="outer">
	<tr>
		<th colspan="9" style="text-align:center;">
			<label for="inport"><{$smarty.const._MD_DBCSS_LABEL_INPORT}></label>:
			<input type="hidden" name="MAX_FILE_SIZE" value="30000" />
			<input type="hidden" name="module_dirname" value="<{$mydirname}>" />
			<input type="file" name="file_inport" id="file_inport" size="25" maxlength="255" />
			<label for="tplsets"><{$smarty.const._MD_DBCSS_LABEL_SELECTTPLSETS}></label>:
			<select name="import_tplsets" id="import_tplsets">
				<{html_options options=$import_tplsets}>
			</select>
			<input type="submit" name="submit_inport" value="<{$smarty.const._SUBMIT}>" tabindex="0" />
		</th>
	</tr>
	<tr>
		<th colspan="9" class="foot">
			<{$smarty.const._MD_DBCSS_LABEL_CSS_DIR}>
			: <{$css_path}>
			<{if !$upload_dir}>
				<br />
				<font color="#FF0000"><b><{$smarty.const._MD_DBCSS_CSS_NODIR}></b></font>
			<{/if}>
			<{if !$upload_writable}>
				<br />
				<font color="#FF0000"><b><{$smarty.const._MD_DBCSS_CSS_NOWRITABLE}></b></font>
			<{/if}>
		</th>
	</tr>
</table>
</form>
<div class="tips">
			<{$smarty.const._MD_DBCSS_INPORTDESC}>
</div>
<br />

<h3><{$smarty.const._MD_DBCSS_H2DOWNLOAD}></h3>
<form name="cssfiledownload" id="cssfiledownload" action="<{$mod_url}>/admin/index.php?page=download" method="post">
<{$gticket_hidden}>
<table class="outer">
	<tr>
		<th colspan="9" style="text-align:center;">
			<label for="downloadtplsets"><{$smarty.const._MD_DBCSS_LABEL_DOWNLOADTPLSETS}></label>:
			<select name="download_tplsets" id="download_tplsets">
				<{html_options options=$copytplsets}>
			</select>
			<input type="submit" name="zip" value="<{$smarty.const._MD_DBCSS_BTN_ZIPDOWNLOAD}>" />
			<input type="submit" name="tar" value="<{$smarty.const._MD_DBCSS_BTN_TARDOWNLOAD}>" />
		</th>
	</tr>
</table>
</form>