<h3 style='text-align:left;'><{$smarty.const._MD_DBCSS_MYTPLSFORM_EDIT}> : <{$cssfile.tpl_type}>: <{$cssfile.tpl_file}> (<{$cssfile.tpl_tplset}>)</h3>

<form name="diff_form" id="diff_form" action=" method="post">
	<input type="checkbox" name="display_diff2file" value="1" onclick="if(this.checked){xoopsGetElementById('diff2file').style.display='block'}else{xoopsGetElementById('diff2file').style.display='none'};" id="display_diff2file" checked="checked" />&nbsp;<label for="display_diff2file">diff from file</label>
	<pre id="diff2file" style="display:block;border:1px solid black;"><{$diff_from_file4disp}></pre>
	<{if $cssfile.tpl_tplset != 'default'}>
		<input type="checkbox" name="display_diff2default" value="1" onclick="if(this.checked){xoopsGetElementById('diff2default').style.display='block'}else{xoopsGetElementById('diff2default').style.display='none'};" id="display_diff2default" />&nbsp;<label for="display_diff2default">diff from default</label>
		<pre id="diff2default" style="display:none;border:1px solid black;"><{$diff_from_default4disp}></pre>
	<{/if}>
</form>

<a name="dbcss_tplsform_top" id="dbcss_tplsform_top"></a>
<form name="MainForm" id="dbcss_tplsform" action="<{$mod_url}>/admin/index.php?page=<{$page}>&amp;tpl_id="<{$cssfile.tpl_id}>" method="post">
<{$gticket_hidden}>
<input type="hidden" name="tpl_id" value="<{$cssfile.tpl_id}>" />
	<textarea name="tpl_source" id="dbcss_tpl_source" wrap="off" style="width:600px;height:400px;"><{$cssfile.tpl_source|escape}></textarea>
	<br />
	<input type="submit" name="do_modifycont" id="do_modifycont" value="<{$smarty.const._MD_DBCSS_MYTPLSFORM_BTN_MODIFYCONT}>" />
	<input type="submit" name="do_modify" id="do_modify" value="<{$smarty.const._MD_DBCSS_MYTPLSFORM_BTN_MODIFYEND}>" />
	<input type="reset" name="reset" value="<{$smarty.const._MD_DBCSS_MYTPLSFORM_BTN_RESET}>" />
	<input name="back" type="button" value="<{$smarty.const._MD_DBCSS_BTN_CANSEL}>" onclick='location.href="<{$mod_url}>/admin/index.php?page=export"'/>
</form>