<h3><{$smarty.const._MD_DBCSS_H2SCRIPTLINK}></h3>
<hr />
<form name="scriptlinkform" id="scriptlinkform" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>

<ul class="toptab">
  <li class="add"><a href="<{$mod_url}>/admin/index.php?page=scriptedit&amp;lid=0"><{$smarty.const._MD_DBCSS_NEW}></a></li>
</ul>

<table class="outer">
	<tr>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_ID}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_TITLE}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_CREATED}>
		</th>
		<{if $script_data_cashe}>
			<th style="text-align:center;">
				<{$smarty.const._MD_DBCSS_SCRIPTCACHE_TIME}>
			</th>
		<{/if}>
		<th style="text-align:center;">
			<{$smarty.const._MD_DBCSS_TH_CONTENTSACTIONS}>
			<input type="checkbox" onclick="with(document.scriptlinkform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_action_')>=0){elements[i].checked=this.checked;}}}">
		</th>
	</tr>
	<{foreach from=$scriptlist item="scriptlist"}>
		<tr class="<{cycle values="even,odd"}>">
			<td style="text-align:center;">
				<{$scriptlist.lid}>
			</td>
			<td nowrap="nowrap">
				<input type="text" size="24" maxlength="255" name="title[<{$scriptlist.lid}>]" id="col_title_<{$scriptlist.lid}>" value="<{$scriptlist.title}>" />
			</td>
			<td nowrap="nowrap" style="text-align:center;">
				<{$scriptlist.created}>
			</td>
			<{if $script_data_cashe}>
				<td nowrap="nowrap" style="text-align:center;">
					<{if $scriptlist.cachetime}>
						<{$scriptlist.cachetime}>
					<{else}>
						<{$smarty.const._MD_DBCSS_SCRIPTNOCACHE}>
					<{/if}>
				</td>
			<{/if}>
			<td nowrap="nowrap" style="text-align:center;">
				<a href="<{$mod_url}>/admin/index.php?page=scriptedit&amp;lid=<{$scriptlist.lid}>"><img src="<{$xoops_url}>/images/page_edit.png" alt="<{$smarty.const._EDIT}>" /><{$smarty.const._EDIT}></a> |
				<input type="checkbox" name="action_selects[<{$scriptlist.lid}>]" id="col_action_<{$scriptlist.lid}>" value="1" />
			</td>
		</tr>
	<{/foreach}>
	<tr>
		<th colspan="9" class="head" style="text-align:right;">
			<{$smarty.const._MD_DBCSS_LABEL_CONTENTSRIGHTCHECKED}>
			<input type="submit" name="delete" value="<{$smarty.const._MD_DBCSS_BTN_DELETE}>" onclick="return confirm('<{$smarty.const._MD_DBCSS_CONFIRM_DELETE}>');" />
		</th>
	</tr>
	<tr>
		<td colspan="9" align="center" class="foot">
			<input type="submit" name="scriptlink_update" value="<{$smarty.const._SUBMIT}>" tabindex="0" />
		</td>
	</tr>
</table>
</form>