<div style="margin:1em;padding:0em;line-height:120%;">
  <{foreach item=newentries from=$block.newstuff}>
    <div style="text-align:left;margin:0em;padding:0em;line-height:120%;"><a href="<{$xoops_url}>/modules/<{$newentries.dir}>/entry.php?entryID=<{$newentries.id}><{if $newentries.categoryID}>&amp;categoryID=<{$newentries.categoryID}><{/if}>" title="[<{$newentries.date}>]"><{$newentries.linktext}></a>&nbsp;&nbsp;<span style="font-size:xx-small;">[<{$newentries.date}>]</span></div>
  <{/foreach}>
</div>