/*  

	XOOPS Cube Legacy 
	Nuno Luciano aka Gigamaster
	Theme version 2.2.1
	License BSD & GPL
	Date 2012 / 07 / 20
    http://xoopscube.org


*/

/*------------------------------------------------------- MAIN & USER MENU */
/*------------------------------------------------------- Private Messages */	


ul#mainmenu, 
ul#mainmenu li ul, 
ul#usermenu,
ul#privatemessages 
	{
	margin:1em; 
	padding: 0px; 
	list-style-type:none;
	}
 
ul#mainmenu li, 
ul#usermenu li, 
ul#privatemessages li 
	{
	margin:0;
	padding:0px;
	}

ul#mainmenu li a, ul#mainmenu li a:visited, 
ul#usermenu li a, ul#usermenu li a:visited,
ul#mainmenu a.menuTop, ul#usermenu a.menuTop, 
ul#mainmenu a.menuMain, ul#mainmenu a.submenu,
ul#privatemessages li a, ul#privatemessages li a:visited
	{ 
	display: block;
	margin:0;
	padding: 3px 5px;
	border:#f7f7f7 1px solid;	
	font-size:13px;
	text-decoration:none;
	}

ul#mainmenu li a.menuSub
	{
	padding-left:15px;
	}

#usermenu a.highlight 
	{
	border:#eee 1px solid;
	border-bottom:#fff 1px solid;
	background-color:#eee;
	}

ul#mainmenu li a:hover,
ul#usermenu li a:hover,
ul#privatemessages li a:hover 
	{
	border:#eee 1px solid;	
	border-bottom:#fff 1px solid;
	background-color:#eee;
	}


/*------------------------------------------------------- THEME TEMPLATE user_block_login.html */

.ulogin {background:url(images/h300.png) left top repeat-x;}
.ulogin input {margin-left:20px;}
.ulogin .user { background:url(images/user.png) left center no-repeat; padding-left:20px;}
.ulogin .pass { background:url(images/pass.png) left center no-repeat; padding-left:20px;}

/*------------------------------------------------------- SIDE BLOCKS */

.leftblock, .rightblock 
	{
	margin:0px 0px 20px 0px;
	padding: 10px;
	background-color:#f5f5f5;
	border:1px solid #f3f3f3;
	border-top:1px solid #f7f7f7;
	border-bottom:1px solid #C5C5D5;
	}
	
.leftblock h2, .rightblock h2 
	{
	}
	
.leftblockContent, .rightblockContent
	{
	margin: 0;
	padding:0;
	line-height: 1.5em;
	}

/*------------------------------------------------------- CENTER BLOCKS */

#centerBlocks 
	{
	clear:both;
	color:#f5f5f5;
	background-color:#9296A1;
	border-top:1px solid #ccc;
	border-bottom:1px solid #C5C5D5;
	margin:0;
	padding:0px;
	}

#centerBlocks a, #centerBlocks a:visited
	{
	color:#FFFFFF;
	}
	
#centerBlocks a:hover, #centerBlocks a:active
	{
	color:#006699;
	}
	
/*------------------------------------------------------- CENTER BLOCKS CONTAINER */

#centerBlocksContainer 
	{
	width:960px;
	padding:0px;
	margin: 0 auto;
	}
	
.centerLcolumn
	{
	float: left;
	width: 300px;
	padding:0px;	
	border-right: dotted 1px #53565E;
	margin:0px 20px;
	}

.centerCcolumn
	{
	float: left;
	width: 300px;
	padding:0px;	
	border-right: dotted 1px #53565E;
	margin-right:20px;
	}
		
.centerRcolumn
	{
	float: left;
	width: 280px;
	padding:0px;
	}

.centerLcolumn h2, .centerCcolumn h2, .centerRcolumn h2
	{
	}
	
.centerLblockContent, 
.centerCblockContent,
.centerRblockContent  
	{
	margin: 0;
	padding: 10px 6px;
	line-height: 1.5em;
	}
	