/*  

	XOOPS Cube Legacy 
	Nuno Luciano aka Gigamaster
	Theme version 2.2.1
	License BSD & GPL
	Date 2012 / 07 / 20
    http://xoopscube.org


*/

/*------------------------------------------------------- ITEMS */

.item 
	{
	padding: 10px 0px;
	}

.itemHead 
	{
	padding: 4px;
	}

.itemTitle 
	{
	font-size: 21px; 
	}

#container .itemTitle a, #container .itemTitle a:visited 
	{
	text-decoration: none;
	}

#container  .itemTitle a:hover 
	{
	}

.itemBody 
	{
	padding:4px 0px;
	}

.itemInfo 
	{	
	padding: 1.5em 1em;
	text-align: right;
	}

.itemText 
	{
	margin:0px;
	padding: 8px 4px;
	line-height: 1.5em;
	}

.itemFoot 
	{
	text-align: right;
	margin: 0;
	padding: 4px;
	}

.itemInfo, .itemPoster, .itemPostDate, .itemStats, .itemAdminLink, .itemPermaLink 
	{
	font-size: 0.9em;
	}