<script type="text/javascript" src="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=module_header&src=jquery.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=module_header&src=d3downloads.js"></script>
<input type="hidden" name="options[0]" value="<{$mydirname}>" />

<p>
	<label for="categories"><{$smarty.const._MB_D3DOWNLOADS_DOWNLOAD_LID}></label>:
	<input type="text" size="20" name="options[1]" id="download_id" value="<{$file_ids}>" /><br />
	<{$smarty.const._MB_D3DOWNLOADS_SELECT_LID}>:
	<select name="select_lid" id="select_lid">
		<{html_options options=$download}>
	</select><br />
	<{$smarty.const._MB_D3DOWNLOADS_SELECT_LIDDSC}>
</p>

<p>
	<label for="select_order"><{$smarty.const._MB_D3DOWNLOADS_SELECTORDER}></label>:
	<select name="options[2]" id="select_order">
		<{html_options values=$order_options output=$order_options selected=$selected_order}>
	</select>
</p>

<p>
	<label for="max_entry"><{$smarty.const._MB_D3DOWNLOADS_MAX_ENTRY}></label>:
	<input type="text" name="options[3]" id="max_entry" value="<{$max_entry}>" size="30" />
</p>

<p>
	<label for="max_size"><{$smarty.const._MB_D3DOWNLOADS_MAX_SIZE}></label>:
	<input type="text" name="options[4]" id="max_size" value="<{$max_size}>" size="30" />
</p>

<p>
	<label for="date_format"><{$smarty.const._MB_D3DOWNLOADS_DATE_FORMAT}></label>:
	<input type="text" name="options[5]" id="date_format" value="<{$date_format}>" size="30" />
</p>
<p>
	<label for="block_size"><{$smarty.const._MB_D3DOWNLOADS_BLOCK_SIZE}></label>:
	<input type='radio' name='options[6]' id='o61' value='1' <{$block_size_1}> /><label for='o61'><{$smarty.const._MB_D3DOWNLOADS_BLOCKSIZE_TYPE1}></label>
	<input type='radio' name='options[6]' id='o62' value='2' <{$block_size_2}> /><label for='o62'><{$smarty.const._MB_D3DOWNLOADS_BLOCKSIZE_TYPE2}></label>
	<input type='radio' name='options[6]' id='o63' value='3' <{$block_size_3}> /><label for='o63'><{$smarty.const._MB_D3DOWNLOADS_BLOCKSIZE_TYPE3}></label>
</p>

<p>
	<label for="this_template"><{$smarty.const._MB_D3DOWNLOADS_THISTEMPLATE}></label>:
	<input type="text" size="60" name="options[7]" id="this_template" value="<{$this_template|escape}>" />
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/admin/index.php?mode=admin&amp;lib=altsys&amp;page=mytplsform&amp;tpl_file=<{$this_template|escape}>"><{$smarty.const._EDIT}></a>
</p>
