@charset'UTF-8';

/* ----- HeadColumn ----- */
header {
	position:relative;
	padding:0;
	margin:0;
}

header .slogan {
	height:	35px;
	display:	block;
}

#UserMenu {
}

#Login {
}

/* ----- Main Column ----- */
#MainColumn {
	min-height:10px;
}


/* ----- Block default ----- */
dt.blockTitle {
	display:block;
	font-weight: bold;
	font-size:15px;
	padding:10px 5px 5px 10px;
	border-left-width: 15px solid;
}
dd.blockContent {
	padding:5px 5px 10px 10px;
}

/* ----- LeftSide ----- */
/*
#LeftSide {
	width:100%;
	float: left;
	margin: 0;
}
*/
#LeftSide dl {
	padding:5px;
}
#LeftSide dt.blockTitle {
	display:block;
	font-weight: bold;
	font-size: 14px;
	border-left-width: 15px solid;
}
#LeftSide dd.blockContent {
	display:block;
	margin-bottom:10px;
}

/* ----- RightSide ----- */
/*
#RightSide {
	width:100%;
	float: right;
	margin: 0;
}
*/
#RightSide dl {
	padding:5px;
}
#RightSide dt.blockTitle {
	display:block;
	font-weight: bold;
	border-left-width: 15px solid;
}
#RightSide dd.blockContent {
	display:block;
}

/* ----- CenterColumn ----- */
/*
#CenterColumn {
	float: left;
	margin: 5px 0;
}
*/
#CenterColumn dl {
	padding:5px;
}

/* ----- CenterCColumn ----- */
#CenterCColumn {
}

/* ----- CenterLColumn ----- */
#CenterLColumn {
}

/* ----- CenterRColumn ----- */
#CenterRColumn {
}

#Content {
}

/* ----- for common CSS ----- */

.outer 	{
	width: 100%;
	margin:10px 0;
}

.head {
	padding:5px;
	font-weight: bold;
}
.even {
	padding:5px;
}
.odd {
	padding:5px;
}
.foot {
	padding: 5px;
	font-weight: bold;
}

tr.head td {
	padding:5px;
	font-weight: bold;
}
tr.even td {
	padding: 5px;
}
tr.odd td {
	padding: 5px;
}

div.errorMsg {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}
div.confirmMsg {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}
div.resultMsg {
	text-align: center;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	font-weight: bold;
	padding: 10px;
}
div.xoopsCode {
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}
div.xoopsQuote {
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}

.comTitle {
	font-weight: bold;
	margin-bottom: 2px;
}
.comText {
	padding: 2px;
}
.comUserStat {
	font-size: 10px;
	font-weight:bold;
	border: 1px solid silver;
	margin: 2px;
	padding: 2px;
}
.comUserStatCaption {
	font-weight: normal;
}
.comUserStatus {
	margin-left: 2px;
	margin-top: 10px;
	font-weight:bold;
	font-size: 10px;
}
.comUserRank {
	margin: 2px;
}
.comUserRankText {
	font-size: 10px;
	font-weight:bold;
}
.comUserRankImg {
	border: 0;
}
.comUserName {
}
.comUserImg {
	margin: 2px;
}
.comDate {
	font-weight: normal;
	font-style: italic;
	font-size: smaller
}
.comDateCaption {
	font-weight: bold;
	font-style: normal;
}

/* ----- for module CSS ----- */

/*  for news & xf-section  */
.item{
	margin:10px 5px;
}
.itemHead{
	padding: 3px 5px;
}
.itemInfo{
	font-size: 85%;
	text-align: right; padding: 3px;
}

.itemTitle {
	font-size: 130%;
	font-weight:bold;
	font-variant: small-caps;
}
.itemTitle a {
	font-weight:bold;
}
.itemPoster	{
	font-size: 85%;
}
.itemPostDate{
	font-size: 85%; 
}
.itemStats{
	font-size: 85%; 
}
.itemBody{
	padding: 2px 10px 2px 10px;
}
.itemText{
	padding: 5px 10px;
	line-height: 1.5em;
}
.itemFoot{
	text-align: right;
	padding: 2px 5px;
	font-size: 85%; 
}
.itemAdminLink{
	font-size: 90%;
}
.itemPermaLink{
	font-size: 90%;
}

.pagenavi {
	text-align:center;
	padding:10px;
}

.pagenavi a {
	padding:2px 5px;
}
.pagenavi b {
	padding:2px;
}
